.Rproj.user
.Rhistory
.RData
.Ruserdata
CS_CP_HAB/v2025/Habitat_interactive_map_Oct 2 2025.html
FP/FIS/v2025/W.C. Fisheries Cumulative Plotly_Sep 29 2025.html
FP/MAR/v2025/Mariculture Cumulative Plotly_Oct 1 2025.html
FP/MAR/v2025/Mariculture Cumulative Plotly_Oct 1 2025_files/
# adding 
**/austin_mangrove_data/